*{
    margin: 0;
    padding: 0;
    
}

.general{
    background: #ADA996;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    height: 50em;
    color: #000;
    font-family: 'Roboto', sans-serif;
    
}

.contenedor{
    width: 100%;
    height: auto;
    max-width: 2000px;
    margin: 20px auto;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
}

.contenedor > div{
    background: transparent;
    padding: 20px;
}

/*--Estilos Sidebar Del Menú--*/

.contenedor .sidebar{
    background: #141414;
    color: #141414;
    grid-column: 1 / 2;
    grid-row: span 5;
    height: 100vh;
    position: fixed;
}
.contenedor .sidebar .img{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contenedor .sidebar .input-box{
    position: relative;
    margin-top: 25px;
    transform: translateY(10%);
    transition: all 500ms ease;
}

.contenedor .sidebar .input-box input{
    outline: none;
    height: 50px;
    widht: 90%;
    box-sizing: border-box;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 2.7vh;
    border: 1px solid #A770EF;
}

.contenedor .sidebar .input-box .btn{
    position: absolute;
    right: -5px;
    top: -10px;
    width: 65px;
    height: 65px;
    background: #A770EF;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.contenedor .sidebar .input-box .btn i{
    font-size: 25px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    align-items: center;
}

.contenedor .sidebar .input-box:hover{
    transform: scale(103%);
}

.contenedor .sidebar .input-box .btn:hover{
    background: #CA73E5;
    transform: scale(105%);
}

.sidebar .menu nav{
    transform: translateY(15%);
}

.sidebar .menu nav i{
    color: #fff;
    transition: all 400ms ease;
    font-size: 35px;
}

.sidebar .menu nav a{
    display: block;
    text-decoration: none;
    padding: 6vh;
    color: #fff;
    border-left: 13px solid transparent;
    transition: all 400ms ease;
    font-size: 18px; 
}

.sidebar .menu nav a:hover{
    border-left: 5px solid #fff;
    background: #1f1f1f;
}

/*--Estilos Del Cuadro Publicar--*/

.contenedor .publicar{
    background: #141414;
    color: #141414;
    grid-column:  2 / 4;
    margin-top: 20px;
    border-radius: 25px;
    height: 80px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}


.publicar .checkbox{
    box-sizing: border-box;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin-left: 70px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 500ms ease;
    transform: translateX(-25%);
}

.publicar .checkbox label{
    color: #ADA996;
    cursor: pointer;
}

.modal{
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
}

#btn-modal{
    display: none;
}

#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}

.contenedor-modal{
    width: 400px;
    height: 300px;
    margin: auto;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    transition: all 500ms ease;
    position: relative;
}

.contenedor-modal header{
    padding: 10px;
    background: #A770EF;
    color: #fff;
}

.contenedor-modal label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.contenedor .publicar .checkbox:hover{
    transform: translateX(-20%);
    background: #F5F5F5;
}

.publicar .menu-modal nav{
    align-items: center;
    justify-content: center;
    display: flex;
    transform: translateX(10%);
    margin-left: -50px;
}

.publicar .menu-modal .agregar .btn-icon{
    transform: translateX(35%);
    font-size: 30px;
    margin-bottom: 10px;
}

#btn-add{
    display: none;
}

.publicar .menu-modal .btn-icon i{
    cursor: pointer;
    transition: all 500ms ease;
    transform: translateY(-10%);
    color: #fff;
}

.publicar .menu-modal .subir .btn-icon{
    transform: translateX(30%);
    font-size: 30px;
    margin-bottom: 10px;
}

#btn-getup{
    display: none;
}

.publicar .menu-modal nav h3{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
}

.publicar .menu-modal .btn-icon i:hover{
    transform: scale(108%);
    color: #DADAD2;
    transform: translateY(-20%);
    
}

/*--Estilos Contenido De La Publicación--*/

.contenedor .contenido-publi{
    background: #fff;
    color: #000;
    grid-column:  2 / 4;
    grid-row:  2 / 4;
    transform: translateY(5%);
    height: 69vh;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.contenido-publi .encabezado nav{
    align-items: center;    
    justify-content: left;
    display: flex;
    padding: 12px;
}

.contenido-publi .encabezado .img{
    font-size: 30px;
    height: auto;
    border-radius: 50%;
    padding: 0;
    position: relative;
}

.contenido-publi .encabezado .username{
    margin-left: 30px;
}

.contenido-publi .encabezado .username h3{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 30px;
    font-family: 'helvetica';
}

.contenido-publi .encabezado .btn-enviar{
    margin-left: 100px;
}

#btn-follow{
    display: none;
}

.contenido-publi .encabezado .btn-enviar label{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A770EF;
    font-size: 18px;
    height: 40px;
    width: 120px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.contenido-publi .encabezado img:hover{
    transform: scale(105%);
    cursor: pointer;
}

.contenido-publi .encabezado .btn-enviar label:hover{
    background: #E9AEFB;
    transform: scale(105%);
}

.contenido-publi .contenido-text{
    margin-top: 10px;
}

.contenido-publi .pie-publi nav{
    align-items: center;    
    justify-content: left;
    display: flex;
    padding: 15px;
    margin-top: 10px;
}

.contenido-publi .pie-publi .fecha h3{
    font-size: 20px;
}

.contenido-publi .pie-publi .likes{
    margin-left: 110px;
}

.contenido-publi .pie-publi .likes i{
   font-size: 27px; 
   color: #7F0FA2;
}

.contenido-publi .pie-publi .likes h3{
    font-size: 20px;
}

.contenido-publi .pie-publi .shares{
    margin-left: 120px;
}

.contenido-publi .pie-publi .shares i{
   font-size: 27px; 
   color: #F5F510;
}

.contenido-publi .pie-publi .shares h3{
    font-size: 20px;
}



/*--Estilos Sidebar Del Perfil--*/

.contenedor .sidebar_perfil{
    background: #141414;
    color: #fff;
    grid-column: 4 / 5;
    text-align: center;
    display: flex;
    justify-content: center;
    grid-row: 2 / 3;
    margin-right: 30px;
    border-radius: 40px;
    margin-top: 20px;
    height: 40vh;
    transition: all 400ms ease;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.contenedor .sidebar_perfil img{
    height: auto;
    border-radius: 50%;
    margin-left: 17vh;
    margin-top: 10px;
    position: absolute;
}

.sidebar_perfil .info-perfil nav{
    transform: translateY(16%);
}

.sidebar_perfil .info-perfil nav h1{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 24px;
    border-right: 5px solid transparent;
}

.sidebar_perfil .info-perfil nav i{
    color: #A770EF;
}

.sidebar_perfil .info-perfil .texto a{
    color:#fff;
    text-decoration: none;
}

.sidebar_perfil .info-perfil .texto h1{
    margin-top: 6vh;
    font-size: 24px;
    font-family: 'helvetica';
}

.sidebar_perfil:hover{
    background: #1f1f1f;
    transform: scale(103%);
    cursor: pointer;
}

.sidebar_perfil .info-perfil .texto a:hover{
    color: #DADAD2;
}

.sidebar .cerrarsesion{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    transform: translateY(260%);
}

.sidebar .cerrarsesion a{
    text-decoration: none;
    color: #D3D3D0;
    font-size: 15px;
}

.sidebar .cerrarsesion a:hover{
    color: #fff;
}



.row{
    grid-column: 2/4;
    grid-row: 2/4;
}

    @media (max-width: 1200px){
        .contenedor .sidebar_perfil{
            background: #141414;

        }
        .contenedor .contenido-publi{
    background: #fff;
    color: #000;
    grid-column:  3 / 4;
    grid-row:  2 / 4;
    
}
    }
