/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/05/2023, 9:45:05 PM
    Author     : admin
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #ECE9E6;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}

.main-content{
    margin-left: 25%;
    flex-basis: 47%;

}


/*
MAIN CONTENT
*/



/*
Publicar
*/
.main-content{
    margin-top: 60px;
}

.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;

}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container .checkbox{
    box-sizing: border-box;
    font-size: 20px;
    width: 300px;
    margin-left: 70px;
    background: #f6f6f6;
    padding: 1px 58px;
    border-radius: 87px;
    cursor: pointer;
    transition: all 500ms ease;
    transform: translateX(-25%);
}


.user-profile-modal{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 17px;
}
.user-profile-modal img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;

}
.user-profile-modal p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #000000;
}
.user-profile-modal small{
    font-size: 12px;
}



.post-input-container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;

}
.modal-footer{
    display: block !important;
    flex-shrink: 0;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    
}

.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display:flex;
    align-items: center;
    color: #626262;
    margin-right:77px;
    font-size: 13px;

}

.add-post-links a img{
    width: 22px;
    margin-right: 11px;

    
}
.post-container{
    width: 100%;
    background: #f6f6f6;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.post-text{
    color: #626262;
    font-weight: 500;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.activity-icons a{
    text-decoration: none;
    display:flex;
    align-items: center;
    color: #626262;
    margin-right:6px;
    font-size: 13px;

}
.btn-outline-light{
    color: #000000;
    padding: 4.375rem 0.75rem;
}

/*Side bar Derecha*/

.right-sidebar{  
        width: 25%;
        flex-basis: 25%;
        position: sticky;
        top: 10px;
        align-self: flex-start; 
        margin-top: 60px;
       /* margin-left: 10%;*/

    }
    
@media screen and (max-width: 1198px) {

    .right-sidebar{  
        width: 25%;
        /*flex-basis: 25%;*/
        position: sticky;
        top: 10px;
        align-self: flex-start;  
        /*margin-left: 10%;*/
        display: none;
    }
    
}

    .sidebar-profile{    
        width: 130%;
        height: 10%;
        background: #fff;
        border-radius: 6px;
        padding: 20px;
        color: #626262;
        box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    }
    
    .a-perfil{
        
    }
 

.suggested{
    margin-top: 20px;
    width: 130%;
    height: 70%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);

}

#username{
    font-size: 32px;
}

#foton{
    height: 30%;
    width: 30%;
}

.trends{
    margin-top: 20px;
    width: 130%;
    height: 70%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);

}

.feisbuk{
    margin-top: 20px;
    width: 130%;
    height: 70%;
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    color: #626262;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}

.cont-feis{

    width: 130%;
    display: flex;
    justify-content: center;
}

.fb-page{/*
    margin-top: 20px;
    width: 130%;
    height: 70%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);*/
    
}


/*Side bar Izquierda*/

.left_sidebar{
    background: #141414;
    flex-basis: 25%;
    position: fixed;
    top: -0.5%;
    align-self: flex-start;
    width: 280px;
    left: 0;
    height: 102vh;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

/*
*/
.left_sidebar.active{
    width: 78px;
}

.left_sidebar .logo_content .img{
    display: flex;
    margin-top: 30px;
    height: 50px;
    width: 100%;
    transform: scale(60%);
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}

.left_sidebar .logo_content .img_responsive{
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

#img_responsive{
    z-index: 300;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin-bottom: 0;
}

/*
*/
.left_sidebar.active .logo_content .img_responsive{
    display: flex;
    transform: translateY(-60px);
    align-items: center;
    opacity: 1;
    pointer-events: none;
}

/*
*/
.left_sidebar.active .logo_content .img{
    opacity: 0;
    pointer-events: none;
}

.logo_content .img i{
    font-size: 28px;
    margin-right: 5px;
}

/*Burguer*/
.burguer{
    width: 100%;
    height: 60px;
    background: #DEDEDE;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 200;
    top: -0.5%;
    left: 0;
    margin-left: 280px;
    transition: all 0.5s ease;
}

.burguer #btn{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(10px);
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}
/*
*/
.left_sidebar.active #btn{
    left: 50%;
}

.left_sidebar ul{
    margin-top: 30px;
    font-size: 20px;
}

.left_sidebar ul li{
    position: relative;
    height: 80px;
    width: 100%;
    margin: 0 -7px;
    list-style: none;
    font-family: "Poppins" , sans-serif;
}

/*
*/
.left_sidebar.active ul li {
    left: -150%;
    width: 270%;
    height: 80px;
    transform: translateY(-60px);
}

.left_sidebar ul li input{
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.left_sidebar ul li .fa-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}

/*
*/
.left_sidebar.active ul li .fa-search:hover{
    background: #fff;
    color: #1d1b31;
}

.left_sidebar ul li a{
    color: #fff;
    align-items: center;
    text-decoration: none;
    display: flex;
    transition: all 0.5s ease;
    border-radius: 12px;
}

.left_sidebar ul li a:hover{
    color: #000;
    background: #fff;
}

/*
*/
.left_sidebar.active ul li a{
    white-space: nowrap; 
}

.left_sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.left_sidebar .links_name{
    opacity: 1;
    pointer-events: auto;
    font-family: "Poppins" , sans-serif;
    font-size: 18px;
}

/*
*/
.left_sidebar.active .links_name{
    opacity: 0;
    pointer-events: none;
    
}

.logout_sesion a{
    position: absolute;
    right: 0;
    bottom: 40px;
    transform: translateX(-15%);
    font-size: 18px;
    color: #B2B0AF;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s ease;
}

.logout_sesion a:hover{
    color: #fff;
}

.logout_sesion i{
    padding: 10px;
}

.logout_sesion .texto{
   opacity: 1;
   pointer-events: auto; 
   font-family: "Poppins" , sans-serif;
   font-size: 14px;
}

/*
*/
.left_sidebar.active .logout_sesion span{
   opacity: 0;
   pointer-events: none; 
}

.left_sidebar.active .logout_sesion a{
    position: absolute;
    left: 30%;
    width: 60%;
    height: 45px;
    border-radius: 12px;
    color: #fff;
    background: #1d1b31;
    align-items: center;
}
.left_sidebar.active .logout_sesion #log_out{
    transform: translate(10%, -130%);
    
}

.left_sidebar.active .logout_sesion a:hover{
    background: #fff;
    color: #1d1b31;
}

.burguer_move{
    margin-left: 78px;
    background: #F5F5F5;
}
/*
.burguer_move_responsive{
    margin-left: 0px;
    background: #F5F5F5;
}
*/

.left_sidebar.responsive{
    width: 78px;
    left: -78px;
    opacity: 0;
}

@media screen and (max-width: 550px) {
      
    .main-content{
        left: 0;
        align-items: center;
        margin-left: 10%;
        transform: scale(75%);
        margin-top: -130px;
        margin-bottom: -130px;
        z-index: 50;
    }
    
    .left_sidebar{
        z-index: 99;
    }
}

@media screen and (max-width: 200px) {
    .burguer{
        width: 100%;
        left: 0;
        margin-left: 0px;
        background: #F5F5F5;
    }
    .left_sidebar{  
        width:  280px;
        left: -280px;
        opacity: 0;
    }
    
    .left_sidebar.responsive{
    width: 78px;
    opacity: 1;
}
    
}


/*Intento de Responsive SideRight
@media screen and (max-width: 1198px) {
    --
    .right-sidebar{  
        width: 25%;
        --flex-basis: 25%;
        position: sticky;
        top: 10px;
        align-self: flex-start;  
        --margin-left: 10%;
        display: none;
    }
    --
    
    .img_sideright{
        height: 30%;
        width: 30%;
        opacity: 1;
    }
    
    .user_sideright{
        display: none;
        opacity: 0;
    }
    
    .stats{
        display: none;
        opacity: 0;
    }
    
    .suggested{
        width: 130%;
        height: 70%;
        background: #fff;
        display: none;
        opacity: 0;
    }
    
    .trends{
        width: 130%;
        height: 70%;
        background: #fff;
        display: none;
        opacity: 0;
    }
    
    .cont-feis{
        width: 130%;
        display: none;
        opacity: 0;
    }
}


    .img_sideright{
        margin-right: 0;
        width: 100%;
        height: 100%;
    }
    
    #username{
        margin-left: 0px;
        transform: translateX(-220%);
    }
    
    .user_sideright small{
        margin-left: 0px;
        left: 0;
        transform: translateX(-220%);
    }
    
    .img_sideright.active{
        position: inherit;
    }
    
*/

