*{
    margin: 0;
    padding: 0;
}

.general{
    background: #313133;
    color: #000;
    font-family: 'Roboto', sans-serif;
    
}

.contenedor{
    width: 100%;
    max-width: 2000px;
    height: 900px;
    margin: 20px auto;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, auto);
}

.contenedor > div{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .publicar{
    background: #000;
    color: #fff;
    grid-column:  span 4;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 25px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 5px;
    max-height: 210px;
}


.contenedor .sidebar{
    background: #000;
    color: #fff;
    grid-column: 1 / 2;
    grid-row: span 9;
}
.contenedor .sidebar .img{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-buttom: 800px;
}

.contenedor .sidebar .input-box{
    box-sizing: border-box;
    margin-top: 30px;
}


.contenedor .publicar .img{
    height: 50px;
    max-height: 110px;
    width: auto;
    display: flex;
    margin-bottom: 800px; 
    margin: 0 auto;
    grid-column: 1 / 2;
    grid-row: span 3;
}

.publicar .imgRound{
    width:150px;
    height:150px;
    border-radius:150px;
    margin-top: 15px;
}

.publicar .username{
    height: 20%;
    margin-top: 10px !important;
    margin-right: 90px !important;
    grid-column: 2 / 5 !important;
    font-size: 55px !important;
    text-align: center !important;
}

.publicar .follow{
    height: 30px;
    grid-column: 5 !important;
    grid-row: 1;
    position: relative;
}


.botonsin{
    position: absolute;
    top: 100%;
}

.menu{
    height: auto;
    max-height: 110px;
    width: auto;
    display: flex;
    margin-bottom: 800px; 
    margin: 0 auto;
    grid-column: 5;
    grid-row: 1;
    margin-left: 90px;
    position: relative;
}
.imgmenu{
    width:100px;
    height:65px;
    transform: rotate(90deg);
    position: absolute;
    top: 15%;
}

.seguidos{
    grid-column: 2 !important;
    grid-row: 2;
}

.seguidores{
    grid-column: 3 !important;
    grid-row: 2;
}

.publis{
    grid-column: 4 !important;
    grid-row: 2;
}