*{
    margin: 0;
    padding: 0;
    
}

.general{
    background: #ADA996;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    height: 55em;
    color: #000;
    font-family: 'Roboto', sans-serif;
    
}

.contenedor{
    width: 100%;
    height: auto;
    max-width: 2000px;
    margin: 20px auto;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
}

.contenedor > div{
    background: #fff;
    padding: 20px;
}

/*--Estilos Sidebar Del Menú--*/

.contenedor .sidebar{
    background: #141414;
    color: #141414;
    grid-column: 1 / 2;
    grid-row: span 5;
    height: 100vh;
    position: fixed;
    
}
.contenedor .sidebar .img{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contenedor .sidebar .input-box{
    position: relative;
    margin-top: 25px;
    transform: translateY(10%);
    transition: all 500ms ease;
}

.contenedor .sidebar .input-box input{
    outline: none;
    height: 50px;
    widht: 90%;
    box-sizing: border-box;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 2.7vh;
    border: 1px solid #A770EF;
}

.contenedor .sidebar .input-box .btn{
    position: absolute;
    right: -5px;
    top: -10px;
    width: 65px;
    height: 65px;
    background: #A770EF;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.contenedor .sidebar .input-box .btn i{
    font-size: 25px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    align-items: center;
}

.contenedor .sidebar .input-box:hover{
    transform: scale(103%);
}

.contenedor .sidebar .input-box .btn:hover{
    background: #CA73E5;
    transform: scale(105%);
}

.sidebar .menu nav{
    transform: translateY(15%);
}

.sidebar .menu nav i{
    color: #fff;
    transition: all 400ms ease;
    font-size: 35px;
}

.sidebar .menu nav a{
    display: block;
    text-decoration: none;
    padding: 6vh;
    color: #fff;
    border-left: 13px solid transparent;
    transition: all 400ms ease;
    font-size: 18px; 
}

.sidebar .menu nav a:hover{
    border-left: 5px solid #fff;
    background: #1f1f1f;
}

/*--Estilos Del Cuadro Publicar--*/

.contenedor .publicar{
    background: #141414;
    color: #141414;
    grid-column:  3 / 6;
    margin-top: 20px;
    border-radius: 25px;
    height: 190px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-content: center;
}

/*--Estilos Contenido De La Publicación--*/

.contenedor .contenido-publi{
    background: #fff;
    color: #000;
    grid-column:  3 / 6 ;
    grid-row:  2 / 4;
    transform: translateY(5%);
    height: 65vh;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.contenido-publi .encabezado nav{
    align-items: center;    
    justify-content: left;
    display: flex;
    padding: 12px;
}

.contenido-publi .encabezado .img{
    font-size: 30px;
    height: auto;
    border-radius: 50%;
    padding: 0;
    position: relative;
}

.contenido-publi .encabezado .username{
    margin-left: 30px;
}

.contenido-publi .encabezado .username h3{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 30px;
    font-family: 'helvetica';
}

.publicar .btn-enviar{
    grid-column: 5;
    grid-row: span 1; 
    margin-bottom: 20px;
}

#btn-follow{
    display: none;
}

.publicar .btn-enviar label{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A770EF;
    font-size: 18px;
    height: 40px;
    width: 120px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

/*.publicar img:hover{
    transform: scale(105%);
    cursor: pointer;
}*/

.publicar .btn-enviar label:hover{
    background: #E9AEFB;
    transform: scale(105%);
}

.contenido-publi .contenido-text{
    margin-top: 10px;
}

.contenido-publi .pie-publi nav{
    align-items: center;    
    justify-content: left;
    display: flex;
    padding: 15px;
    margin-top: 10px;
}

.contenido-publi .pie-publi .fecha h3{
    font-size: 20px;
}

.contenido-publi .pie-publi .likes{
    margin-left: 110px;
}

.contenido-publi .pie-publi .likes i{
   font-size: 27px; 
   color: #7F0FA2;
}

.contenido-publi .pie-publi .likes h3{
    font-size: 20px;
}

.contenido-publi .pie-publi .shares{
    margin-left: 120px;
}

.contenido-publi .pie-publi .shares i{
   font-size: 27px; 
   color: #F5F510;
}

.contenido-publi .pie-publi .shares h3{
    font-size: 20px;
}

.sidebar .cerrarsesion{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    transform: translateY(260%);
}

.sidebar .cerrarsesion a{
    text-decoration: none;
    color: #D3D3D0;
    font-size: 15px;
}

.sidebar .cerrarsesion a:hover{
    color: #fff;
}

/* Estilos TopBar*/

.contenedor .publicar .img{
    height: 150px;
    max-height: 150px;
    width: auto;
    margin: 0 auto;
    grid-column: span 1;
    grid-row: span 3;   
}

.publicar .imgRound{
    width:150px;
    height:150px;
    border-radius:150px;
}

.publicar .username{
    grid-column: 2 / 5 !important;
    grid-row: span 1;
    font-size: 45px !important;
    text-align: left !important;
    color: #fff;
    margin-left: 20px;
}

.menui ul{
    list-style: none;
}

.listita > li{
	position: relative;
	display: inline-block;
}

.listita > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.listita li a:hover{
	color: #8C52FF;
	transition: all .3s;
}

.submenu{
	position: absolute;

	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 20px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.listita li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.publicar .menui{
    margin: 0 auto;
    grid-column: 6;
    grid-row: 1;
}
.imgmenu{
    width:100px;
    height:65px;
    transform: rotate(90deg);
}

.seguidos{
    color: #fff;
    grid-column: 2 !important;
    grid-row: 2;
    font-size: 10px;
    text-align: center;
}

.seguidores{
    color: #fff;
    grid-column: 4 !important;
    grid-row: 2;
    font-size: 10px;
    text-align: center;
}

.publis{
    color: #fff;
    grid-column: 6 !important;
    grid-row: 2;
    font-size: 10px;
    text-align: center;
}